@import url(../css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url(./responsive.css);

/* couleurs */
/* Strong Cyan: hsl(171, 66%, 44%) */
/* Light Blue: hsl(233, 100%, 69%) */
/* Dark Grayish Blue: hsl(210, 10%, 33%) */
/* Grayish Blue: hsl(201, 11%, 66%) */

/* ********************* */
/* MISE EN PLACE GLOBAL */
/* ******************** */

html,
body {
  box-sizing: border-box;
  font-family: "Bai jamjuree", sans-serif;
  font-size: 18px;
  color: rgb(93, 92, 92);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 1rem 0 1rem; */
}

/* ********************* */
/* MISE EN PLACE HEADER */
/* ******************** */

/* layout global */

.header {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 10rem;
}
/* logo et background */

.logo {
  position: absolute;
  /* Positionnement exprimé en % pour que le logo se cale responsivement par rapports au bords lors du scale - */
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%); /* compatibilité : ie9+ */
}

/* Titre et texte */

.header__h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.header__intro {
  font-size: 1.25em;
  color: rgb(180, 180, 180);
  text-shadow: 2px 1px 0px rgba(206, 206, 206, 0.3);
  line-height: 1.8rem;
  margin-bottom: 3em;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  max-width: 24.5rem;
  margin: 0 auto;
}

.btn {
  padding: 1.2em 3em;
  border-radius: 5em;
  border: none;
  font-size: 0.8em;
  color: white;
  letter-spacing: 0.05em;
  transition: 0.5s;
  cursor: pointer;
}

.btn--green {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 5px 25px 32px 22px rgba(38, 186, 164, 0.11);
}

.btn--blue {
  background-color: #6173ff;
  box-shadow: 5px 25px 32px 22px rgba(97, 115, 255, 0.11);
}

.btn--green:hover {
  background-color: hsl(171, 64%, 26%);
  box-shadow: 5px 25px 32px 52px rgba(38, 186, 164, 0.11);
}

.btn--blue:hover {
  background-color: #4652b3;
  box-shadow: 5px 25px 32px 52px rgba(97, 115, 255, 0.11);
}

/* ********************* */
/* MISE EN PLACE ARTICLES */
/* ******************** */

.article1,
.article2,
.article3,
.article4 {
  margin: 0 auto;
  text-align: center;
}

.article1 {
  margin-bottom: 8rem;
}

.article2 {
  margin-bottom: 4rem;
}

/* header */

.header__article1-h2,
.header__article2-h2,
.header__article3-h2,
.header__article4-h2 {
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header__article1-p,
.header__article2-p,
.header__article3-p,
.header__article4-p {
  font-size: 1em;
  color: rgb(180, 180, 180);
  margin-bottom: 3em;
  line-height: 1.5rem;
  text-shadow: 2px 1px 0px rgba(206, 206, 206, 0.3);
}

.header__article2-p {
  margin-bottom: 6rem;
}

/* container */

.article1__container {
  display: flex;
  flex-wrap: nowrap;
}

.article1__container-img {
  justify-content: flex-start;
}

.article1__advantages-h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.article1__container-txt {
  justify-content: flex-end;
  padding-left: 6rem;
  padding-top: 4rem;
  text-align: left;
}

.article1__advantages {
  margin-bottom: 3.5rem;
  line-height: 1.5em;
}

.article1__advantages-p {
  color: rgb(180, 180, 180);
  text-shadow: 2px 1px 0px rgba(206, 206, 206, 0.3);
  font-size: 0.8em;
}

.article3__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.article3__advantages:nth-child(2) {
  margin: 0 1rem 0 1rem;
}

.article3__advantages-h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.article3__advantages-p {
  line-height: 1.5rem;
  color: rgb(180, 180, 180);
  text-shadow: 2px 1px 0px rgba(206, 206, 206, 0.3);
  font-size: 0.8em;
}

.article__logo {
  width: 100%;
}
.article3__advantages-icone1,
.article3__advantages-icone2,
.article3__advantages-icone3 {
  margin-bottom: 2rem;
}
.article5 {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 8rem;
}

.article5 img {
  height: 2.5rem;
  margin-right: 1rem;
}

.article4__btn {
  display: flex;
  justify-content: space-between;
  max-width: 24.5rem;
  margin: 0 auto;
  margin-bottom: 8rem;
}

/* ********************* */
/* MISE EN PLACE FOOTERS */
/* ******************** */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 4rem;
  width: 75%;
  background-color: rgb(243, 240, 240);
  border-radius: 1em;
}

.footer__logo {
  padding-left: 4rem;
}
.c-logo {
  width: 40%;
  padding-top: 0.5rem;
}

.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1.5;
}

.footer__links a {
  text-decoration: none;
  color: rgb(93, 92, 92);
}

.footer__links1 {
  margin-left: 5rem;
}

.footer__links2 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer__social-logos {
  padding-top: 1rem;
}

.twitter {
  padding-left: 1rem;
  padding-right: 1rem;
}

.frontendmentor-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
